<div class="container">
    <div class="row">
        <%  var postIndex = postCount;
            for (var i = 1; (i <= postCount) && (i <= 4); i++) { %>
                <% include ./_card_user_container %>
        <%
                postIndex--;
            }
        %>
    </div>
</div>
