<% var commentArr = postComments.filter(function (e) { return e.id === posts.length - i; }) %>
<% if(commentArr.length > 0) { 
    for (var j = 0; j < commentArr.length; j++){ %>
        <hr />
        <div class="comment">
            <div class="comment-content"><%= commentArr[j].content %></div>
            <div class="comment-user"><%= commentArr[j].email %></div>
        </div>
    <% } } %>

