<div id="create-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create a Post</h4>
            </div>
            <div class="modal-body">
            <% if (errors.length || info.length){ %>
              <% include ./_flash %>
            <% } %>
            <%= errors %>
                <form action="/createpost" method="POST">
                    <div class="form-group">
                        <label for="new-url">URL:</label>
                        <input class="form-control" id="new-url" name="origURL">
                        <br />
                        <label for="new-title">Title:</label>
                        <input class="form-control" id="new-title" name="title">
                        <br />
                        <label for="new-description">Description:</label>
                        <textarea class="form-control" id="new-description" name="description"></textarea>
                        <br />
                        <label for="new-genre" name="genre">Genre:</label><br />
                            <label class="checkbox-inline">
                            <input type="checkbox" value="Action" name="Action">Action
                            </label>
                            <label class="checkbox-inline">
                            <input type="checkbox" value="Comedy" name="Comedy">Comedy
                            </label>
                            <label class="checkbox-inline">
                            <input type="checkbox" value="Documentary" name="Documentary">Documentary
                            </label>
                            <label class="checkbox-inline">
                            <input type="checkbox" value="Fantasy" name="Fantasy">Fantasy
                            </label>
                            <label class="checkbox-inline">
                            <input type="checkbox" value="Horror" name="Horror">Horror
                            </label>
                            <label class="checkbox-inline">
                            <input type="checkbox" value="Romance" name="Romance">Romance
                            </label>
                            <label class="checkbox-inline">
                            <input type="checkbox" value="Sci-Fi" name="Sci-fi">Sci-Fi
                            </label>
                            <label class="checkbox-inline">
                            <input type="checkbox" value="Everything-Else" name="Other">Other
                          </label>
                    </div>
                    <hr />
                    <input type="submit" class="btn btn-primary submit-button" value="Create">
                </form>
            </div>
        </div>
    </div>
</div>
