<div id="create-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create a Post</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="new-url">URL:</label>
                        <input class="form-control" id="new-url"></input>
                        <br />
                        <label for="new-title">Title:</label>
                        <input class="form-control" id="new-title"></input>
                        <br />
                        <label for="new-description">Description:</label>
                        <textarea class="form-control" id="new-description"></textarea>
                        <br />
                        <label for="new-genre">Genre:</label><br />
                            <label class="checkbox-inline">
                            <input type="checkbox" value="Action">Action
                            </label>
                            <label class="checkbox-inline">
                            <input type="checkbox" value="Comedy">Comedy
                            </label>
                            <label class="checkbox-inline">
                            <input type="checkbox" value="Documentary">Documentary
                            </label>
                            <label class="checkbox-inline">
                            <input type="checkbox" value="Fantasy">Fantasy
                            </label>
                            <label class="checkbox-inline">
                            <input type="checkbox" value="Horror">Horror
                            </label>
                            <label class="checkbox-inline">
                            <input type="checkbox" value="Romance">Romance
                            </label>
                            <label class="checkbox-inline">
                            <input type="checkbox" value="Sci-Fi">Sci-Fi
                            </label>
                            <label class="checkbox-inline">
                            <input type="checkbox" value="Everything-Else">Everything Else
                            </label>

                    </div>
                    <hr />
                    <button type="button" class="btn btn-primary submit-button" data-dismiss="modal">Create</button>                    
                </form>
            </div>
        </div>
    </div>
</div>