<nav class="nav">
  <div class="nav-right">
  </div>
  <div class="nav-center">
    <a class="nav-item">
      <h1><strong>LHL Midterm Project FROM KGD</strong><h1>
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle">
    <span>1</span>
    <span>2</span>
    <span>3</span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu">
    <a class="nav-item">
      <i class="fa fa-bars fa-3x" aria-hidden="true"></i>
    </a>
  </div>
</nav>