<nav class="nav">
  <div class="nav-right">
  </div>
  <div class="nav-center">
    <a class="nav-item">
      <h1><strong>LHL Midterm Project FROM KGD</strong><h1>
    </a>
  </div>


  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu">
    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
  </div>
</nav>