<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resource Wall</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/side_menu.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/card.css" type="text/css" />
    <link rel="stylesheet" href="/styles/modal.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/post_toggle.js"></script>
    <script type="text/javascript" src="/scripts/side_menu.js"></script>
    <script type="text/javascript" src="/scripts/comments.js"></script>
    <script type="text/javascript" src="/scripts/like.js"></script>
    <script type="text/javascript" src="/scripts/isotope.js"></script>
    <script type="text/javascript" src="https://unpkg.com/isotope-layout@3.0.3/dist/isotope.pkgd.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>

  <body>
    <div id="wrapper">
        <% include ./partials/_nav %>


    <h1 style="margin-left: 150px; color: aquamarine">Welcome</h1>
    <div class="button-group filters-button-group">
      <button class="btn btn-primary is-checked" data-filter="*">show all</button>
      <button class="btn btn-primary" data-filter="Action">Action</button>
      <button class="btn btn-primary" data-filter="Comedy">Comedy</button>
      <button class="btn btn-primary" data-filter="Documentary">Documentary</button>
      <button class="btn btn-primary" data-filter="Fantasy">Fantasy</button>
      <button class="btn btn-primary" data-filter="Horror">Horror</button>
      <button class="btn btn-primary" data-filter="Romance">Romance</button>
      <button class="btn btn-primary" data-filter="Sci-Fi">Sci-Fi</button>
      <button class="btn btn-primary" data-filter="Other">Other</button>
    </div>




        <% include ./partials/_flash %>
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <% include ./partials/_side_menu %>
        </div>
        <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="grid">
                  <%  var postIndex = posts.length;
                    for (var i = 0; (i < postIndex); i++) { %>
                        <% include ./partials/_card_container %>
                <%

                    }
                %>
            </div>
        </div>

        </div>


        <% include ./partials/_create_post %>
        <% include ./partials/_card_modal %>
        <% include ./partials/_login %>
        <% include ./partials/_register %>




    </div>
  </body>
</html>
